<!DOCTYPE html>
<html>

<head>
  <th:block th:include="fragments/dashboardVehicles.html :: headerfiles"></th:block>
</head>

<body data-gr-c-s-loaded="true">
  <nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <div class="navbarIcon"><i style="margin:0;" class="fas fa-car fa-3x"></i></div>
          <h2 th:text="${vehicle.model}" class="h5"></h2><span th:text="${vehicle.vin}">VIN</span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>T</strong><strong class="text-primary">CC</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li><a href="dashboard"> <i class="fas fa-home"></i>HOME                             </a></li>
          <li><a href="drives"> <i class="fas fa-road"></i>RODAGENS                             </a></li>
          <li class="active"><a href="drives"> <i class="fas fa-gas-pump"></i>ABASTECIMENTOS                             </a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="page">
    <header th:replace="fragments/dashboardVehicles.html :: header">
    </header>
    <div class="breadcrumb-holder">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item "><a href="dashboard">Home</a></li>
          <li class="breadcrumb-item active">Abastecimentos </li>
        </ul>
      </div>
    </div>
    <section class="section-padding">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-8">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3></i>ABASTECIMENTOS</h3>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="display:none">Id</th>
                      <th>Data</th>
                      <th>Posto</th>
                      <th>Combustivel</th>
                      <th>Odometro (km)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="drive_row" th:each="tank: ${tanks}">
                      <td style="display:none" id="drive_id" th:text="${tank.id}">vasile</td>
                      <td th:text="${tank.date}">vasile</td>
                      <td th:text="${tank.station}">45</td>
                      <td th:text="${tank.fuel}">45</td>
                      <td th:text="${tank.odometer}">45</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3></i>NOVO ABASTECIMENTO</h3>
              </div>
              <div class="card-body">
                <form action="#" th:action="@{tank}" th:object="${tank}" method="post">
                  <div class="form-group">
                    <label for="station">Posto</label>
                    <input type="text" id="station" class="form-control" th:field="*{station}" />
                  </div>
                  <div class="form-group">
                    <label for="fuel">Combustivel</label>
                    <input type="text" id="fuel" class="form-control" th:field="*{fuel}" />
                  </div>
                  <div class="form-group">
                    <label for="date">Data</label>
                    <input type="date" id="fuel" class="form-control" th:field="*{date}" />
                  </div>
                  <div class="form-group">
                    <label for="odometer">Odometro</label>
                    <input type="number" id="fuel" class="form-control" th:field="*{odometer}" />
                  </div>
                  <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </div>
            </form>

          </div>
        </div>
      </div>


      <h1 style="display:none;" id="vin" th:text="${vehicle.vin}"></h1>

  </section>
  <footer th:replace="fragments/dashboardVehicles.html :: footer">
  </footer>
  </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
  <!-- Main File-->
  <script th:src="@{/js/vehicleDashboard.js}"></script>
  <!-- Script to open vehicle page -->

</body>

</html>
