<!DOCTYPE html>
<html>

<head>
  <th:block th:include="fragments/dashboardVehicles.html :: headerfiles"></th:block>
</head>

<body data-gr-c-s-loaded="true">
  <nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <div class="navbarIcon"><i style="margin:0;" class="fas fa-car fa-3x"></i></div>
          <h2 th:text="${vehicle.model}" class="h5"></h2><span th:text="${vehicle.vin}">VIN</span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>T</strong><strong class="text-primary">CC</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li><a href="../dashboard"> <i class="fas fa-home"></i>HOME                             </a></li>
          <li class="active"><a href="../drives"> <i class="fas fa-road"></i>RODAGENS                             </a></li>
          <li><a href="../tanks"> <i class="fas fa-gas-pump"></i>ABASTECIMENTOS                             </a></li>
           <li  ><a href="../statistics"> <i class="fas fa-chart-bar"></i>ESTATISTICAS                             </a></li>               </a></li>
        
        </ul>
      </div>
    </div>
  </nav>
  <div class="page">
    <header th:replace="fragments/dashboardVehicles.html :: header">
    </header>
            <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="dashboard">Home</a></li>
            <li class="breadcrumb-item "><a href="../drives">Rodagens      </a> </li>
            <li class="breadcrumb-item  active" th:text="${drive.date}">       </li>
          </ul>
        </div>
      </div>
    <section class="section-padding">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3></i>RODAGEM</h3>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Odometro inicial</th>
                  <th>Descricao</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data</td>
                  <td th:text="${drive.mileage_start}">45</td>
                  <td th:text="${drive.description}">45</td>
                </tr>
              </tbody>
            </table>
            <h3 style="display:inline;"><i class="fas fa-info mr-1"></i>Dados coletados do OBD</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Speed</th>
                    <th>RPM</th>
                    <th>THROTTLE_POS</th>
                    <th>ENGINE_LOAD</th>
                    <th>Eng. Runtime</th>
                    <th>Fuel Lvl (%)</th>
                    <th>T. Advance</th>
                    <th>MAF</th>
                    <th>AFR</th>
                    <th>Equiv Ratio</th>
                    <th>Eng. Temp</th>
                    <th>STFT1</th>
                    <th>LTFT1</th>
                    <th>Ethanol (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="reading: ${readings}">
                    <td th:text="${reading.timestamp}">vasile</td>
                    <td th:text="${reading.latitude}">45</td>
                    <td th:text="${reading.longitude}">45</td>
                    <td th:text="${reading.SPEED}">45</td>
                    <td th:text="${reading.RPM}">45</td>
                    <td th:text="${reading.THROTTLE_POS}">45</td>
                    <td th:text="${reading.ENGINE_LOAD}">45</td>
                    <td th:text="${reading.ENGINE_RUNTIME}">45</td>
                    <td th:text="${reading.FUEL_LEVEL}">45</td>
                    <td th:text="${reading.TIMING_ADVANCE}">45</td>
                    <td th:text="${reading.MAF}">45</td>
                    <td th:text="${reading.AIR_FUEL_RATIO}">45</td>
                    <td th:text="${reading.EQUIV_RATIO}">45</td>
                    <td th:text="${reading.ENGINE_COOLANT_TEMP}">45</td>
                    <td th:text="${reading.SHORT_TERM_FUEL_TRIM_1}">45</td>
                    <td th:text="${reading.LONG_TERM_FUEL_TRIM_1}">45</td>
                    <td th:text="${reading.ETHANOL_PERCENTAGE}">45</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <h1 style="display:none;"><i class="fas fa-car"></i></h1>
          <h1 style="display:none;" id="vin" th:text="${vehicle.vin}"></h1>


        </div>
      </div>
    </section>
    <footer th:replace="fragments/dashboardVehicles.html :: footer">
    </footer>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
  <!-- Main File-->
  <script th:src="@{/js/vehicleDashboard.js}"></script>
  <!-- Script to open vehicle page -->
  <script>
    $(function() {
      $('.drive_row').click(function() {
        var vin = $(document).find("#vin").html();
        var drive_id = $(this).find("#drive_id").html();
        window.location.href = '/admin/vehicle' + '/' + vin + '/drive/' + drive_id;
      });
    });
  </script>
</body>

</html>
