<!DOCTYPE html>
<html>

<head>
  <th:block th:include="fragments/dashboardVehicles.html :: headerfiles"></th:block>
</head>

<body data-gr-c-s-loaded="true">
  <nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <div class="navbarIcon"><i style="margin:0;" class="fas fa-car fa-3x"></i></div>
          <h2 th:text="${vehicle.model}" class="h5"></h2><span th:text="${vehicle.vin}">VIN</span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>T</strong><strong class="text-primary">CC</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li ><a href="dashboard"> <i class="fas fa-car"></i>PERFIL                             </a></li>
          <li><a href="drives"> <i class="fas fa-road"></i>RODAGENS                             </a></li>
          <li><a href="tanks"> <i class="fas fa-gas-pump"></i>ABASTECIMENTOS                             </a></li>
          <li class="active" ><a href="tanks"> <i class="fas fa-chart-bar"></i>ESTATISTICAS                             </a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="page">
    <header th:replace="fragments/dashboardVehicles.html :: header">
    </header>
    <div class="breadcrumb-holder">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item "><a href="dashboard">Home</a></li>
          <li class="breadcrumb-item active">Estatisticas </li>
        </ul>
      </div>
    </div>
    <section class="section-padding">
      <div class="container-fluid">
        <div class="row">
          <div th:switch="${vehicle.vin}">
              <div th:case="FOJ5082"><iframe src="http://residencia-rs-kibana-lb-1929209291.us-east-2.elb.amazonaws.com/app/kibana#/dashboard/c3eee190-025c-11e9-b87b-a787db15b02d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="1440"></iframe></div>
              <div th:case="PYW2126"><iframe src="http://residencia-rs-kibana-lb-1929209291.us-east-2.elb.amazonaws.com/app/kibana#/dashboard/187695b0-f28f-11e8-b87b-a787db15b02d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="1440"></iframe></div>
              <div th:case="NVT-6106"><iframe src="http://residencia-rs-kibana-lb-1929209291.us-east-2.elb.amazonaws.com/app/kibana#/dashboard/f0f36300-025c-11e9-b87b-a787db15b02d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="1440"></iframe></div>
              <div th:case="FHO7880"><iframe src="http://residencia-rs-kibana-lb-1929209291.us-east-2.elb.amazonaws.com/app/kibana#/dashboard/a68fa7b0-025c-11e9-b87b-a787db15b02d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="1440"></iframe></div>
              <div th:case="ATX3526"><iframe src="http://residencia-rs-kibana-lb-1929209291.us-east-2.elb.amazonaws.com/app/kibana#/dashboard/0a033ff0-025d-11e9-b87b-a787db15b02d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="1440"></iframe></div>
            </div>
        </div>
      </div>


      <h1 style="display:none;" id="vin" th:text="${vehicle.vin}"></h1>

  </section>
  <footer th:replace="fragments/dashboardVehicles.html :: footer">
  </footer>
  </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
  <!-- Main File-->
  <script th:src="@{/js/vehicleDashboard.js}"></script>
  <!-- Script to open vehicle page -->

</body>

</html>
